* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
    scroll-padding-top: 80px; /* Aproximadamente a altura do seu header */

}

:root {
  /*Configuração das cores*/
  --bg-color: #0a192f;
  --primary-color: #64ffda;
  --secondary-color: #8892b0;
  --text-color: #e6f1ff;
  --highlight-color: #64ffda;
  --gray-100: #0c213d;
  --gray-200: #1b2a41;
  --gray-300: #29385c;
  --gray-400: #8892b0;
  --gray-500: #a8b2d1;
  --gray-600: #e6f1ff;

  /*Configuração das fontes*/
  --font-family-title: Asap, sans-serif;
  --font-family-paragraph: Maven pro, sans-serif;

  /*Configuração dos tamanhos*/
  --text-lg-title: 700 56px/120% var(--font-family-title);
  --text-md-title: 700 32px/120% var(--font-family-title);
  --text-sm-title: 700 16px/120% var(--font-family-title);

  --text-md: 400 18px/140% var(--font-family-paragraph);
  --text-md-stroke: 500 16px/140% var(--font-family-paragraph);
  --text-sm: 400 18px/140% var(--font-family-paragraph);
}

body {
  background-color: var(--bg-color);
  color: var(--gray-600);
  font-family: var(--font-family-paragraph);
  font-size: var(--text-md);
  line-height: 1.6;
}

h1 {
  font-family: var(--font-family-title);
  font-weight: 700;
  color: var(--text-color);
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
}

h2 {
  font: var(--text-md-title);
  color: var(--gray-600);
  margin-bottom: 1.25rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

h3 {
  font: var(--text-sm-title);
  color: var(--gray-600);
  margin-bottom: 1rem;
}

p {
  font: var(--text-md);
  color: var(--gray-500);
}

a {
  text-decoration: none;
  color: var(--gray-500); /* Corrigido para a variável correta */
  font: var(--text-md-stroke);
  transition: color 0.3s ease;
}

a:hover {
  color: var(--gray-600);
}

ul,
ol {
  list-style-position: outside;
  margin-bottom: 1rem;
  padding-left: 1.5rem;
}

li {
  margin-bottom: 0.5rem;
}

button {
  cursor: pointer;
  border: none;
  padding: 0.75rem 1.5rem;
  font: var(--text-md-stroke);
  border-radius: 0.25rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: var(--gray-300);
  color: var(--gray-600);
}

button:hover {
  background-color: var(--gray-400);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.section-padding {
  padding: 4rem 0;
}

.container {
  text-align: center;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}